In [1]:
#first programm
print('hello world')

hello world

# BASIC DATA TYPES OF PYTHON

<ol style='color:red'> 
    <li>NUMBERS ---> INT , FLOAT , COMPLEX </li>
    <li>STRING  ---> 'PYTHON', "AWSOME" </li>
    <li>LIST    ---> ['ITEM1','ITEM2','ITEM3'] </li>  #list can be homogeneous and hetrogeneous
    <li>TUPPLE  ---> ('SAME','AS','LIST','BUT','IMMUTABLE')</li>
    <li>DICTIONARY-> {1:'AJAY','A':'PYTHON'}</li>  # HERE VALUES ARE IN A KEY VALUES FORMAT
    <li>SET     ---> {UNIQUE ENTTIES MUST BE HERE}</li>
</ol>

In [2]:
a = 5
b = 6
print(a)
print(b)
print(type(a))
print(type(b))

5
6
<class 'int'>
<class 'int'>

In [3]:
x = 5.5
print(x)
print(type(x))

5.5
<class 'float'>

In [8]:
y = 2+3j
print(y)
print(type(y))

(2+3j)
<class 'complex'>

In [10]:
x = 5
y = 6.6
z = 7.5+7j
print(x,y,z,type(x),type(y),type(z),sep='\n')

5
6.6
(7.5+7j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [11]:
x = 5  ; y = 6.6 ; z = 7.5+7j ; print(x,y,z,type(x),type(y),type(z),sep='\n')

5
6.6
(7.5+7j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [1]:
l = []
for var in range(1,101):
    l.append(var)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
for var in 'python':
    for tar in 'ajay':
        print(var,tar,sep='==')

p==a
p==j
p==a
p==y
y==a
y==j
y==a
y==y
t==a
t==j
t==a
t==y
h==a
h==j
h==a
h==y
o==a
o==j
o==a
o==y
n==a
n==j
n==a
n==y

In [3]:
for var in 'python':
    print(var)

p
y
t
h
o
n

In [4]:
for var in ['ajay','sachin','nikhil','rajesh','shubham']:
    print(var,end=' ')

ajay sachin nikhil rajesh shubham

In [5]:
for r in (1,2,3,4,5,6,7):
    print(r)

1
2
3
4
5
6
7

In [6]:
num = int(input('Enter the number for table : '))
for var in range(1,11):
    print(f'{num} * {var} = {var*num}')

Enter the number for table : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
num = int(input('enter a number for tablee : '))
c = 1
while c <= 10:
    print('{} * {} ={}'.format(num,c,num*c))
    c += 1

enter a number for tablee : 5
5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50

In [8]:
for var in range(5,51,5):
    print(var)

5
10
15
20
25
30
35
40
45
50

In [9]:
di = {
    'name':'rajesh',
    'prof':'grras',
    'work':'management',
    'class':'high'
}
for var in di:
    print(var)

name
prof
work
class

In [10]:
for var,tar in di.items():
    print(var,tar,sep='===')

name===rajesh
prof===grras
work===management
class===high

In [12]:
for i in range(1,11):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [13]:
for var in range(1,11):
    for tar in range(1,var+1):
        print(tar,end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [14]:
c = 1
for var in range(65,91):
    print("{}".format(chr(var)*c))
    c += 1

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ
KKKKKKKKKKK
LLLLLLLLLLLL
MMMMMMMMMMMMM
NNNNNNNNNNNNNN
OOOOOOOOOOOOOOO
PPPPPPPPPPPPPPPP
QQQQQQQQQQQQQQQQQ
RRRRRRRRRRRRRRRRRR
SSSSSSSSSSSSSSSSSSS
TTTTTTTTTTTTTTTTTTTT
UUUUUUUUUUUUUUUUUUUUU
VVVVVVVVVVVVVVVVVVVVVV
WWWWWWWWWWWWWWWWWWWWWWW
XXXXXXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYYYYYYY
ZZZZZZZZZZZZZZZZZZZZZZZZZZ

In [15]:
for var in range(1,11):
    print('*'*(11-var)+'  '*(var-1)+'*'*(11-var))
for tar in range(1,11):
    print('*'*(tar)+'  '*(11-tar-1)+'*'*(tar))

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *
*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

In [17]:
for var in range(1,11):
    for tar in range(1,var+1):
        print(var,end='')
#         c += 1
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010

In [22]:
for var in range(1,11):
    print(' '*(11-var)+'*'*var)

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [23]:
for var in range(1,11):
    print(' '*var+'*'*(11-var))

 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [24]:
for var in range(1,11):
    print('*'*(11-var)+'  '*(var-1)+'*'*(11-var))
for tar in range(1,11):
    print('*'*(tar)+'  '*(11-tar-1)+'*'*(tar))

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *
*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************